* {
    padding: 0;
    margin: 0;
}
html {
    font-family: 'Lato', sans-serif;
}

html,
body,
.container {
    height: 100%;
    font-size: 13pt;
}

.container {
    display:table;
    width: 100%;
    margin-top: -132px;
    padding: 132px 10px 0 10px;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.title {
    text-align: center;
    padding: 20px 0 20px 0;
}

.filter {
    text-align: right;
    padding-bottom: 10px;
}

.filter-clear {
    right: 20px;
    cursor: pointer;
    position: relative;
}
    
.filter-clear:hover {
    font-weight: bold;
}

.clearable{
    padding: 3px 18px 3px 4px;
    margin-left: 10px;
    font-size: 1em;
    width: 200px;
}

.map-canvas {
    height: 100%;
}

.row {
    height: 100%;
    display: table-row;
}

.col-left {
    display: table-cell;
    width: 18%;
}

.col-right {
    display: table-cell;
    width: 80%;
}

.col-mid {
    width: 2%;
    font-size: 20pt;
    text-align: center;
}

.top{
    width: 2%;
    position: fixed;
    color: black;
    cursor: pointer;
}

.bot {
    width: 2%;
    position: fixed;
    bottom: 10px;
    color: black;
    cursor: pointer;
}


.list-item {
    border: 1px black solid;
    margin: 0 0px 10px 0;
    height: 80px;
    text-align: center;
    display: -ms-flexbox;
    display: flex;
    align-items: center;
    padding-left: 5px;
}

.item-title {
    width: 90%;
    cursor: pointer;
}

.item-title-full{
    width: 100%;
}

.item-clear {
    cursor: pointer;
    line-height: 50px;
    width: 10%;
}

.item-clear:hover {
    font-weight: bold;
}

.temp-status {
    float: left;
}

.temp-icon {
    margin-top: -20px;
}

.button {
    background-image: url('../images/UBER_API_Button_1x_Grey_hard edge.png');
    background-size: cover;
    width: 280px;
    height: 44px;
    margin: 0 auto;
}

.time {
    text-align: right;
    margin-top: 2%;
    padding-top: 12px;
    padding-right: 14px;
	font-size: 1.1em;
}